<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/logo.png" type="image/png">
    <title>tseo Demo</title>
    <link rel="stylesheet" href="/main.css"></link>
</head>
<body>
    <div id="app" style="width: 100%; height: 100%"><%- html %></div>
    <script>
        window.__initState__ = <%- reduxState %>
    </script>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>
</body>
</html>